{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-flow",
        ["@babel/preset-env", {
            "target": {
                "node": true
            },
            "modules": false,
            "loose": true
        }]],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-export-namespace-from",
        ["@babel/plugin-proposal-object-rest-spread", {
            "useBuiltIns": true
        }],
        "@babel/plugin-syntax-dynamic-import",
        "babel-plugin-lodash"
    ],
    "env": {
        "test": {
            "plugins": ["@babel/plugin-transform-modules-commonjs"]
        }
    }
}
